[defaults]
inventory = inventory/test/hosts.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
private_key_file = ~/.ssh/ansible_ed25519


[ssh_connection]
pipelining = True

