<?xml version="1.0" encoding="utf-8"?>
<configuration><appSettings>
  <add key="ServerName" value="{{ pokladna_config.ServerName }}" />
  <add key="DBName" value="{{ pokladna_config.DBName }}" />
  <add key="CisloPokladny" value="{{ pokladna_register_number }}" />
  <add key="UzkaTiskarna" value="{{ pokladna_config.UzkaTiskarna }}" />
  <add key="UzkaTiskarnaRadkyZa" value="{{ pokladna_config.UzkaTiskarnaRadkyZa }}" />
  <add key="GrandPrix" value="{{ pokladna_config.GrandPrix }}" />
  <add key="MotivaceGl" value="{{ pokladna_config.MotivaceGl }}" />
  <add key="PoklDisp" value="{{ pokladna_config.PoklDisp }}" />
  <add key="PoklDispCom" value="{{ pokladna_config.PoklDispCom }}" />
  <add key="PlatTerm2" value="{{ pokladna_config.PlatTerm2 }}" />
  <add key="PlatTermCom" value="{{ pokladna_config.PlatTermCom }}" />
  <add key="UzkaPort" value="{{ pokladna_config.UzkaPort }}" />
</appSettings></configuration>


